---
import Layout from '@/layouts/Layout.astro';
import H1 from '@/components/base/H1.astro';
import H2 from '@/components/base/H2.astro';
import Divider from '@/components/base/Divider.astro';
// import { type SubscriberType } from '@/services/';

type SubscriberType = {
  id: number;
  name: string;
  email: string;
};

const subscribers: Array<SubscriberType> = await fetch(
  `${Astro.url.origin}/api/subscribers/`
).then((response) => response.json());

const secondSubscriber: SubscriberType = await fetch(
  `${Astro.url.origin}/api/subscribers/2`
).then((response) => response.json());
---

<Layout>
  <H1>Astro + API Endpoints</H1>

  <Divider />

  <H2>GET 10 subscribers: "/api/subscribers"</H2>
  <ul class='list-disc list-inside'>
    {
      subscribers.map((subscriber) => (
        <li>
          <b>{subscriber.name}</b>: {subscriber.email}
        </li>
      ))
    }
  </ul>

  <Divider />

  <H2>GET the second subscriber: "/api/subscribers/2"</H2>
  <p><b>{secondSubscriber.name}</b>: {secondSubscriber.email}</p>
</Layout>
