---
import Layout from '@/layouts/Layout.astro';
import H1 from '@/components/base/H1.astro';
import H2 from '@/components/base/H2.astro';
import Divider from '@/components/base/Divider.astro';

type SubscriberType = {
  id: number;
  name: string;
  email: string;
};

const response = await fetch(`${Astro.url.origin}/api/subscribers/`);
const subscribers: Array<SubscriberType> = await response.json();

const response2 = await fetch(`${Astro.url.origin}/api/subscribers/2`);
const secondSubscriber: SubscriberType = await response2.json();
---

<Layout>
  <H1>Astro + API Endpoints</H1>

  <Divider />

  <H2>GET 10 subscribers: "/api/subscribers"</H2>
  <ul class='list-disc list-inside'>
    {
      subscribers.map((subscriber) => (
        <li>
          <b>{subscriber.name}</b>: {subscriber.email}
        </li>
      ))
    }
  </ul>

  <Divider />

  <H2>GET the second subscriber: "/api/subscribers/2"</H2>
  <p><b>{secondSubscriber.name}</b>: {secondSubscriber.email}</p>

  <Divider />

  <H2>Add a new subscriber: POST "/api/subscribers/add"</H2>
  <form
    method='POST'
    action='/api/subscribers/add'
    class='flex flex-col gap-2 mb-8'
  >
    <label>
      Email address
      <input type='email' name='email' class='rounded-lg border p-2 max-w-96' />
    </label>

    <button
      type='submit'
      class='bg-black text-white hover:bg-gray-700 rounded-full px-4 py-2 w-fit h-fit'
    >
      Subscribe</button
    >
  </form>
  <p>Try: steve@rogers.com to subscribe</p>
</Layout>
